# USER DATA
COMPENSAR_DOC_TYPE=cc
COMPENSAR_DOC_NUM=123456789
COMPENSAR_PASSWORD=abcdefghijkl

# NOTIFICATIONS
TOKEN=243243.fgdgdfgfdgf
CHAT_ID=432453534543

# BROWSER PROFILE
FIREFOX_PROFILE_NAME=xxxxx.default-release

# LOGS
LOG_DIR=logs
LOG_FILENAME=logger.txt
LOG_MAX_LINES=5000
